<div>
  TOTAL VACCINATED: {{getTotal('btc')}}
  TOTAL UNVACCINATED: {{getTotal('eth')}}
</div>

<div *ngIf="everybodyVaccinated()">
  THERE ARE NOT TRANSACTIONS
</div>

<p>VACCINATED</p>
<div style="display: flex; flex-direction: row;">
  <div *ngFor="let vacc of vaccinated">
    <app-vaccinated [data]="vacc">

    </app-vaccinated>

  </div>
</div>

<p>UNVACCINATED</p>
<div style="display: flex; flex-direction: row;">
  <div *ngFor="let vacc of unvaccinated">
    <app-unvaccinated [data]="vacc">
      <button
      [disabled]="vacc.disease || vacc.age < 12"
      (click)="onVaccinate(transaction, i)">
        Vaccinate
      </button>
      <button>
        Edit
      </button>
    </app-unvaccinated>
  </div>
</div>


