<div>
  TOTAL BTC: {{getTotalCoins('btc')}}
  TOTAL ETH: {{getTotalCoins('eth')}}
</div>

<div *ngIf="getIfThereAreTransactions()">
  THERE ARE NOT TRANSACTIONS
</div>

<p>WALLETS</p>
<div style="display: flex; flex-direction: row;">
  <div *ngFor="let wallet of wallets">
    <app-wallets [data]="wallet">

    </app-wallets>

  </div>
</div>

<p>TRANSACTIONS</p>
<div style="display: flex; flex-direction: row;">
  <div *ngFor="let transaction of transactions; let i = index">
    <app-transactions [data]="transaction">
      <button
        [disabled]="transaction.mineType === 'PoS' &&
       transaction.miner < 20"
      (click)="onMine(transaction, i)">
        mine
      </button>
    </app-transactions>

  </div>
</div>
