<div>
  TOTAL VACCINATED: {{vaccinated.length}}
  TOTAL UNVACCINATED: {{unvaccinated.length}}
</div>

<div *ngIf="everybodyVaccinated()">
  THERE ARE NOT TRANSACTIONS
</div>

<p>VACCINATED</p>
<div style="display: flex; flex-direction: row;">
  <div *ngFor="let vacc of vaccinated">
    <app-vaccinated [data]="vacc">

    </app-vaccinated>

  </div>
</div>

<p>UNVACCINATED</p>
<div style="display: flex; flex-direction: row;">
  <div *ngFor="let vacc of unvaccinated">
    <app-unvaccinated [data]="vacc">
      <button
      [disabled]="vacc.disease || vacc.age < 12"
      (click)="onVaccinate(vacc)">
        Vaccinate
      </button>
      <button>
        Edit
      </button>
    </app-unvaccinated>
  </div>
</div>

<mat-card class="form">
  <mat-card-content>
<form #form="ngForm"
      (ngSubmit)="save(form)"
      style="display: flex; flex-direction: column;">
  <input type="text"
    name="email"
    ngModel
    placeholder="Name">
  <input type="text"
    name="password"
    ngModel
    placeholder="Age">
  <input type="text"
    name="password"
    ngModel
    placeholder="Disease">
  <input type="text"
    name="password"
    ngModel
    placeholder="VaccineType">
  <button class="login-btn">Save</button>
</form>
</mat-card-content>
</mat-card>

