<p>App component</p>

<erick-comp [status]="myStatus" (onSendData)="printDataErickComp($event)"></erick-comp>

<app-test2 
name="Erick" 
lastName="Martinez" 
(onSentData)="printData($event)">
</app-test2>


<input type="text" [(ngModel)]="myStatus">

<button (click)="sw =! sw"> SHOW TEST 3</button>
<div [hidden]="sw">
  <app-test3 [name2] = 'myStatus'></app-test3>
</div>


<ul>
  <li *ngFor="let item of ['first','second','third']; let i = index;"> 
    
    <erick-comp 
    [status]="item" 
    (onSendData)="printDataErickComp($event)">
    </erick-comp>
  </li>
</ul>



<input type="text" [(ngModel)]="color">
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'">
    <erick-comp 
    [status]="color" 
    (onSendData)="printDataErickComp($event)">
    </erick-comp>
  </li>
  <li *ngSwitchCase="'yellow'">
    <app-test3 [name2] = 'color'></app-test3>
  </li>
  <li *ngSwitchCase="'green'">green</li>
  <li *ngSwitchDefault>Default</li> 
</ul>

<p>TAREA-----</p>
<ul>
  <li *ngFor="let person of people">
    <erick-comp 
      [status]="person.name +  person.lastName" 
      (onSendData)="printDataErickComp($event)">
      </erick-comp>
    </li>
</ul>

<button (click)="sw =! sw"> SHOW TEST 3</button>
<div *ngIf="sw else myVarElse">
  <app-test3 [name2] = 'myStatus'></app-test3>
</div>


<div #myDiv1>
  <p>My div 1</p>
</div>


<ng-template #myVarElse>
  <p>It is my template</p>
  <p>It is my template</p>
  <p>It is my template</p>
  <p>It is my template</p>
  <p>It is my template</p>
</ng-template>






<app-test2 
name="Erick" 
lastName="Martinez" 
(onSentData)="printData($event)">

<p>Mi propio contenido</p>
<button> mi boton</button>

</app-test2>


<button (click)="sw =! sw"> SHOW TEST 3</button>
<ng-container *ngIf="sw" style="margin: 30px;">
  <p>NG CONTAINER</p>
</ng-container>




<p>DIRECTIVAS DE ATRIBUTO</p>



<input type="string" [(ngModel)]="color">
<p [style.fontSize.px]="color">
  my p with styles 1 Directiva de Atributo Style
</p>


<p [ngStyle]="{
  'background':'red',
  'border':'5px gray solid'
}">
  my p with styles 2  Directiva de Atributo ngStyle
</p>


<p>----------------------------------------------------</p>

<div [class.est1]="color === 'hola'">
  my div with class
</div>


<div [ngClass]="{
  'est1':color === 'hola1',
  'est2':color === 'hola2',
  'est3':color === 'hola3'
}">
  my div with ngClass
</div>


<!--POR RESOLVER -->
<p>TAREA 2 ----------------------</p>
<ul>
  <li *ngFor="let item of [1,2,3,4,5,6]; let i = index;"> 
    
    <erick-comp [ngClass]="{
      'co1':index%2===0,
      'co2':index%2!==0
    }"
    [status]="item" 
    (onSendData)="printDataErickComp($event)">
    </erick-comp>
  </li>
</ul>


<button (click)="onAddVideo">ADD VIDEO</button>
<button (click)="personAUnsubscribe">UNSUBSCRIBE</button>


<input type="text" [(ngModel)]="color">
<p [directive1Test]="color"
(outputTest)="test($event)"
>MI PRIMERA DIRECTIVA DE ATRIBUTO</p>


<input type="checkbox" [(ngModel)]="sw"> ngIfErick
<div *ngIfErick="sw">
  <p>MY OWN STRUCTURAL DIRECTIVE</p>
</div>



<div #myDiv2>Content</div>
<p>{{myDiv2}}</p>

<erick-comp #myCompErick></erick-comp>

<input type="text" #myDiv3 value="fff">
<p>{{myDiv2}}</p>

<button (click)="onShowLocalVars()">Show local vars</button>

<div #tareaDiv style="border: 5px pink solid">TAREA</div>
<button (click)="tareaDivColor()">TAREA</button>









<!--------------APP   ---------------->

<p>----------------------------APP-----------------------------------</p>
<!--  <app-admin1></app-admin1> -->

<!--------------TAREA 18/08/20201   ---------------->
<p>------TAREA 18/08/20201 App, module, layout-------------------------------</p>
<app-header></app-header>
<app-sidebar></app-sidebar>






<p>PIPES PUROS E IMPUROS</p>
<p>PURE: {{ data | pure }}</p>
<p>IMPURE: {{ data | impure }}</p>
<button (click)="data.push(10)">Add</button>


<p>---------------------COMPONENT ROUTING ---------------------</p>
<div style ="border: 4px red solid">
  <router-outlet>

  </router-outlet>
</div>

<p>---------------------MODULE ROUTING ---------------------</p>
<button routerLink="view1" routerLinkActive="active-router">View 1</button>

<button routerLink="view2/5/sub/34" 
        [queryParams]="{name: 'erick', lastName: 'martinez'}"
        routerLinkActive="active-router">View 2</button>

<button routerLink="view3" routerLinkActive="active-router">View 3</button>

<button (click)="onGoViewFromTs()">Go view 2 from ts</button>
<button routerLink="adminM" routerLinkActiva="active-router">Go admin module</button>
<button routerLink="homeM" routerLinkActiva="active-router">Go home module</button>