<div>




<p style="padding-left:150px">Total ETH: {{getTotalETH()}}</p>
<p style="padding-left:150px">Total BTC: {{getTotalBTC()}}</p>


<p>WALLETS</p>
<div style="display: flex; flexDirection: row;">
  <div *ngFor="let wallet of wallets">
  <app-wallets
    [wallet]="wallet.wallet"
    [name]="wallet.name"
    [eth]="wallet.eth"
    [btc]="wallet.btc">
  </app-wallets>
  </div>
</div>

<p>TRANSACTIONS</p>
<div style="display: flex; flexDirection: row;">
  <div *ngFor="let transaction of transactions">
    <app-transactions
      [date]="transaction.date"
      [from]="transaction.from"
      [to]="transaction.to"
      [quantity]="transaction.quantity"
      [moneyType]="transaction.moneyType"
      [mineType]="transaction.mineType"
      [miner]="transaction.miner">
    </app-transactions>
  </div>
</div>

</div>
